body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  z-index: 2;
}

nav {
  display: flex;
  width: 50px;
  flex-direction: column;
  justify-content: center;
  margin-right: 5.5%;
}

.nav-button {
  width: 200%;
  text-align: center;
  background-color: #ff0000;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-right: 20px;
}

button {
  width: 10px;
  height: 20px;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  border-radius: 10px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: none;
}

button:hover {
  transform: scale(1.05);
  background-color: rgb(0, 26, 255);
  color: rgb(255, 255, 255);
}

#texto {
  position: absolute;
  top: 77px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  background: rgb(250, 23, 23);
  padding: 15px;
  border-radius: 10px;
  box-shadow: #313131 5px 5px 5px;
  display: none;
  margin-top: 3.6%;
}

.descricao {
  display: flex;
  align-items: center;
}

/* laptop G */
@media (max-width: 1440px) and (min-width: 1024.5px) {
  .imagem {
    justify-content: center;
    flex-direction: row;
    margin-top: 40%;
    width: 280px;
    height: 375px;
  }

  button {
    width: 280px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 20%;
  }

  #texto {
    margin-top: 3.4%;
    width: 80%;
  }
}

/* laptop */
@media (max-width: 1024px) and (min-width: 768px) {
  .imagem {
    justify-content: center;
    flex-direction: row;
    width: 180px;
    height: 275px;
  }

  button {
    width: 180px;
  }

  #texto {
    margin-top: 4.7%;
  }
}

/* tablet */
@media (max-width: 768px) and (min-width: 425px) {
  .imagem {
    justify-content: center;
    flex-direction: row;
    width: 280px;
    height: 375px;
  }

  button {
    width: 280px;
    margin-bottom: 10%;
  }

  #texto {
    margin-top: 6.3%;
    width: 60%;
  }
}

/*alinhamento do textinho que aparece de 424px pra baixo*/
@media (max-width: 424px) and (min-width: 100px) {
  #texto {
    position: fixed;
    width: 60%;
  }
}

/*dispositivo g*/
@media (max-width: 425px) and (min-width: 376px) {
  #texto {
    margin-top: 11%;
  }
}

/*ajuste botão sobre*/
@media (max-width: 399px) and (min-width: 354px) {
  nav button {
    margin-top: 100px;
  }
}

/*dispositivo M*/
@media (max-width: 399px) and (min-width: 354px) {
  #texto {
    margin-top: 24%;
  }
}

/*dispositivo pequeno*/
@media (max-width: 320px) {
  #texto {
    margin-top: 27%;
  }
}
