body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}

img {
  position: absolute;
  height: 35rem;
  bottom: 6rem;
  right: 10rem;
  flex-wrap: wrap;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  z-index: 2;
}

button {
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  margin-right: 1.5rem;
}

button:hover {
  transform: scale(1.05);
  background-color: rgb(0, 26, 255);
  color: rgb(255, 255, 255);
}

p {
  font-size: 2rem;
  margin-top: 8rem;
  margin-left: 5px;
  background-color: #ff0000;
  color: #ffffff;
  width: 50%;
  flex-wrap: wrap;
  border-radius: 10px;
  display: flex;
}

.LinkMidias {
  align-items: center;
  bottom: 1.5rem;
  right: 36rem;
}

/*modelo do monitor*/

@media (max-width: 1366px) {
  p {
    font-size: 1.8rem;
  }

  img {
    top: 7rem;
    height: 30rem;
  }
}

@media (max-width: 1060px) {
  p {
    font-size: 1.1rem;
  }

  img {
    top: 8rem;
    height: 20rem;
    right: 5rem;
  }
}

@media (max-width: 1000px) {
  p {
    width: 90%;
    font-size: 1.6rem;
    margin: 9rem auto 2rem auto; 
  }

  img {
    position: static; 
    width: 60%;
    height: auto;
    margin: 0;
    display: block;
    align-items: flex-start;
  }

  .LinkMidias {
    display: flex;
    justify-content: flex-end;
    margin-top: -40rem;
    margin-right: 7rem;
    font-size: 2rem;
  }
}

@media (max-width: 630px) {
  .LinkMidias {
    font-size: 1.5rem;
    margin-top: -26rem;
    margin-right: 3rem;
  }
}

@media (max-width: 375px) {
  .LinkMidias {
    font-size: 1rem;
    margin-top: -23rem;
  }
}

@media (max-width: 320px) {
  .LinkMidias {
    font-size: 13px;
    margin-top: -20rem;
  }
}

@media (max-width: 425px) {
  p {
    font-size: 15px;
  }
}